<link rel="stylesheet" href="../stylesheet/styles.css">
<div>
    <div class="card">
        <h2>Title: {{post.title}}</h2>
        <p>Posted by {{post.user.username}}</p>
        <p>Created on {{post.created_at}}</p>
        <p>{{post.body}}</p>
    </div>
        {{#each post.comments as |comment|}}
        <div class="card">
            <p>Comment: {{comment.comment_text}}</p>
            <p>By {{comment.user.username}}</p>
        </div>
        {{/each}}
    {{#if loggedIn}}
    <form class="comment-form">
        <input type="text" placeholder="New comment" id="newCommentfield"/>
        <button id="comment-btn">Add comment</button>
    </form>
    <script src="../javascript/comment.js"></script>
    <script src="../javascript/logout.js"></script>
    {{/if}}
    
</div>