<div>
    <ul class="post-container">
        {{#each posts as |post|}}
        <li class="card">
            <a href='/post/{{post.id}}'>Title: {{post.title}}</a>
            <p>{{post.body}}</p>
            <p>Posted by {{user.username}}</p>
            <p>at {{post.created_at}}</p>
        </li>
        {{/each}}
    </ul>
</div>