<div>
    <div>
        <ul>
            {{#each posts as |post|}}
            <li>
                <a href='/post/{{post.id}}'>{{post.title}}</a>
                <p>{{post.body}}</p>
                <p>{{user.username}}</p>
                <p>{{post.created_at}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</div>